<script setup>
import { ref, computed } from "vue";
import { useRouter } from "vue-router";
import ConsoleAbout from "@/components/ConsoleAbout.vue";
import { useAppStore } from "@/store/app";

const stApp = useAppStore();
const width = "210mm";
const height = "296mm";

const router = useRouter();
const routeCurr = computed(() => router.currentRoute.value.query);

const name = "Павел Кузин";
const birthday = new Date(1984, 0, 5);
const egen = computed(() => {
  const now = new Date();
  return now.getFullYear() - birthday.getFullYear();
});
function egenString(years) {
  const titles = ["год", "года", "лет"];
  const cases = [2, 0, 1, 1, 1, 2];
  return titles[
    years % 100 > 4 && years % 100 < 20
      ? 2
      : cases[years % 10 < 5 ? years % 10 : 5]
  ];
}

const over = ref("");
const isOver = computed(() => over.value !== "");

function mouseOver(video) {
  if (!video) return;
  over.value = video;
}
function mouseLeave() {
  over.value = "";
}

const job_title = "руководитель отдела разработки";
const avatar = "ava.webp";
const aboutMe = `
<div>
  Я автоматизирую процессы, внедряю и
  <span class="font-weight-bold">разрабатываю ПО</span>
  . Хорошо
  <span class="font-weight-bold">понимаю бизнес</span>
  и предлагаю решения.
  <span class="font-weight-bold">Пишу API</span>
  или интегрирую сторонние (из экзотики 1С ODATA). Разрабатываю концепты решений, тз и документацию
</div>
<div class="mt-2">
  Создал команду для ИТ поддержки группы обойных компаний.
  Более 14 лет использую преимущественно собственные разработки или
  <span class="font-weight-bold">opensource</span>
  решения.
  <span class="font-weight-bold">Linux</span>
  на серверах и на 90% пк.
  Из коммерческих решений интегрировал: AmoCRM, Bitrix24, 1С, datalens, etc.
</div>
<div class="mt-2">
  Мне нравится решать
  <span class="font-weight-bold">бизнес задачи</span><br>
  разрабатывать
  <span class="font-weight-bold">MVP</span><br>
  настраивать
  <span class="font-weight-bold">CI/CD</span>
</div>
`;

const experience = [
  {
    year: "2017-2023",
    title: "oboi.ru",
    subtitle: "руководитель отдела разработки",
  },
  {
    year: "2011-2017",
    title: "mnogooboev.ru",
    subtitle: "руководитель ИТ отдела",
  },
  {
    year: "2009-2011",
    title: "ИП",
    subtitle: "аутсорсинг - системное администрирование, разработка ПО",
  },
  {
    year: "2007-2009",
    title: "центр лабораторного анализа и тех. измерений",
    subtitle: "ведущий инженер, начальник производственно технического отдела",
  },
  {
    year: "2003-2007",
    title: "ИП",
    subtitle: "аутсорсинг - системное администрирование",
  },
  {
    year: "2000-2005",
    title: "ИГХТУ",
    subtitle: "стандартизация и сертификация продуктов хим. производств",
  },
];

const skills = {
  prog: ["python", "bash"],
  web: ["js", "vue", "vuetify", "threejs"],
  devops: ["docker", "kubernetes", "traefik", "gitlab"],
  database: ["mongodb", "clickhouse", "postgres", "mssql"],
  linux: ["debian", "ubuntu", "mint"],
  tools: ["vim", "emacs"],
};

const examples = [
  {
    title: "SaaS-платформа SUP",
    link: "https://wiki.oboi.ru/SUP/",
    video: "sup.webm",
    description: `
        Платформа помогает упростить процесс управления магазинами. Расставлять графики
        работы, рассчитывать зарплаты, анализировать остатки и продажи, рассчитывать месячные
        показатели продаж, устанавливать планы для продавцов и оценивать их
        эффективность работы а так же эффективность работы магазина
    `,
    technologies: {
      backend: ["python", "flask"],
      frontend: ["js", "vue", "vuetify"],
      database: ["mongodb", "clickhouse"],
      deployment: ["gitlab-ci", "docker", "kubernetes"],
    },
  },
  {
    title: "Планограмма обойного магазина",
    video: "planogram.webm",
    description: `
      3d web интерфейс на threejs для планирования и контроля за состоянием ассортимента обойных сетей.
      Решает задачи расстановки товара и планирования перемещений коллекций основанного на ABC анализе продаж и остатках`,
  },
  {
    title: "Автоматизация склада",
    video: "sklad.webm",
    description: `
      Позволяет принимать и отгружать товары с маркировкой 'честный знак' (мобильный телефон + сканер ШК или камера).
      Маркировать товар для wildberries
      Обновлять остатки на WB и OZON, берет свободные остатки складов и резерв из заказа 1С
    `,
  },
];
</script>

<template>
  <video v-if="isOver" class="video" loop autoplay muted>
    <source type="video/webm" :src="over" />
  </video>
  <v-sheet
    border="wd"
    :width="width"
    :height="height"
    class="ml-md-10 my-md-10 d-print-block"
    elevation="10"
    :color="isOver ? 'transparent' : 'white'"
  >
    <div class="d-flex">
      <!-- 📍 Left -->
      <div
        class="bg-primary py-6 pl-12 pr-0"
        :style="{ height: height, opacity: isOver ? 0.05 : 1 }"
        style="width: 33.3%"
      >
        <v-avatar size="42mm">
          <v-img :src="avatar" />
        </v-avatar>
        <div class="text-dark mt-6">
          <div>
            <v-icon icon="mdi-send-circle-outline" class="mr-1" />
            <a class="text-black" href="https://t.me/PavelKuzin"
              >t.me/PavelKuzin</a
            >
          </div>
          <div class="mt-1">
            <v-icon icon="mdi-cellphone" class="mt-n1 mr-1" />
            <a class="text-black" href="tel:+79109992412">+7 910 999 2412</a>
          </div>
        </div>
        <v-divider class="mt-6" />
        <div>
          <div v-for="(_skills, group) in skills" :key="group">
            <div class="text-dark" st>
              {{ group }}
            </div>
            <div class="d-flex flex-wrap">
              <div
                v-for="skill in _skills"
                :key="skill"
                class="mr-1 mb-1 rounded px-2 bg-light"
              >
                {{ skill }}
              </div>
            </div>
          </div>
        </div>
        <v-divider class="mt-6" />
        <div>
          <div v-for="experience in experience" :key="experience.year">
            <span class="text-dark mr-1" style="font-size: 0.9rem">
              {{ experience.year }}
            </span>
            <span class="" style="font-size: 0.9rem">{{
              experience.title
            }}</span>
            <div class="text-black mt-n1 mb-1" style="font-size: 0.8rem">
              {{ experience.subtitle }}
            </div>
          </div>
        </div>
      </div>
      <!-- 📍 Right -->
      <div class="pa-6" :style="{ height: height }" style="width: 66.7%">
        <div class="block1">
          <div class="d-flex" :style="{ opacity: isOver ? 0.1 : 1 }">
            <div class="text-h4 mr-3">{{ name.split(" ")[0] }}</div>
            <v-badge
              :content="egen + ' ' + egenString(egen)"
              :color="isOver ? 'transparent' : 'light'"
            >
              <div class="text-h4 font-weight-light">
                {{ name.split(" ")[1] }}
              </div>
            </v-badge>
          </div>
          <div
            :style="{ opacity: isOver ? 0.1 : 1 }"
            class="font-weight-light"
            style="font-size: 0.8rem"
          >
            {{ job_title }}
          </div>

          <!-- 📍 About Me -->
          <div
            :style="{ opacity: isOver ? 0.1 : 1 }"
            class="mt-6"
            v-html="aboutMe"
          ></div>
          <!-- 📍 Examples work -->
          <v-divider class="mt-6" />
          <div>
            <div
              class="text-dark bg-grey-lighten-5 text-center"
              :style="{ opacity: isOver ? 0 : 1 }"
            >
              примеры работ
            </div>
            <div
              class="pb-3"
              v-for="example in examples"
              :key="example.title"
              @mouseover="mouseOver(example.video)"
              @mouseleave="mouseLeave()"
            >
              <v-card
                flat
                :class="over === example.video ? 'elevation-16' : 'elevation-0'"
                :style="{ opacity: over === example.video ? 1 : 0.8 }"
              >
                <v-card-title class="d-flex align-center">
                  <div>
                    {{ example.title }}
                  </div>
                  <v-icon
                    class="ml-auto d-print-none"
                    size="large"
                    :class="
                      over === example.video ? 'text-dark' : 'text-primary'
                    "
                    >mdi-video-vintage</v-icon
                  >
                </v-card-title>
                <v-card-subtitle>
                  <v-btn
                    color="primary"
                    class="ml-auto"
                    size="x-small"
                    v-if="example.link"
                    text
                    variant="outlined"
                    :href="example.link"
                    >{{ example.link }}</v-btn
                  >
                </v-card-subtitle>
                <v-card-text class="text-black mt-n1 mb-1">
                  <div v-html="example.description"></div>
                  <div style="font-size: 0.8rem" class="d-flex flex-wrap">
                    <div
                      v-for="(tech, group) in example.technologies"
                      :key="group"
                      class="d-flex mr-3"
                    >
                      <div class="text-primary">{{ group }}:</div>
                      <div
                        v-for="tech in tech"
                        :key="tech"
                        class="mr-1 px-1 bg-grey-lighten-4 rounded"
                      >
                        {{ tech }}
                      </div>
                    </div>
                  </div>
                </v-card-text>
              </v-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </v-sheet>

  <ConsoleAbout
    v-if="'dev' in routeCurr"
    style="position: fixed; top: 3rem; padding-left: 3.2rem; z-index: -1"
    :style="{ left: width }"
  />
</template>

<style scoped>
.video {
  position: fixed;
  top: 0;
  z-index: -1;
  height: 100%;
}
</style>
