<script setup>
import { useAppStore } from "@/store/app";
import { useErrStore } from "@/store/err";
const stApp = useAppStore();
const stErr = useErrStore();
</script>
<template>
  <router-view />

  <!-- 📍 Version -->
  <div v-if="stApp.version" class="bg-primary version font-weight-light">
    version: <span>{{ stApp.version }}</span>
  </div>

  <!-- 📍 Error bar -->
  <v-snackbar
    :key="stErr.id"
    v-model="stErr.show"
    location="top"
    close-on-back
    close-on-content-click
    horizontal
    :color="stErr.data.status"
  >
    <div class="pa-6">
      <div class>{{ stErr.data.title }}</div>
      <div class="text-h5">{{ stErr.data.message }}</div>
      <div class="text-primary" v-if="stErr.data.from">
        {{ stErr.data.from }}
      </div>
    </div>
  </v-snackbar>
</template>

<style>
.version {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  border-radius: 0.5rem;
}
</style>
