<script setup></script>

<template>
  <v-card>
    <v-layout>
      <v-app fill-height class="bg-dark">
        <v-main>
          <router-view />
        </v-main>
      </v-app>
    </v-layout>
  </v-card>
</template>
